<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.kurrt.lifeguardprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>id</key>
			<string>enableSwitch</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>cellClass</key>
			<string>LifeguardSRSwitchTableCell</string>
			<key>PostNotification</key>
			<string>com.kurrt.lifeguardprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Button Sequences</string>
			<key>footerCellClass</key>
			<string>LifeguardBigTextCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Respring:</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>default</key>
			<string>UDUD</string>
			<key>defaults</key>
			<string>com.kurrt.lifeguardprefs</string>
			<key>key</key>
			<string>respringSequence</string>
			<key>PostNotification</key>
			<string>com.kurrt.lifeguardprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Safe Mode:</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>default</key>
			<string>SSUDUD</string>
			<key>defaults</key>
			<string>com.kurrt.lifeguardprefs</string>
			<key>key</key>
			<string>safeModeSequence</string>
			<key>PostNotification</key>
			<string>com.kurrt.lifeguardprefs/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>More</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>More Tweaks by Kurrt</string>
			<key>action</key>
			<string>more</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>icons/plus.png</string>
			<key>cellClass</key>
			<string>LifeguardColorButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @KurrtDev on Twitter</string>
			<key>action</key>
			<string>twitter</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>icons/twitter.png</string>
			<key>cellClass</key>
			<string>LifeguardColorButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Kurrt.com</string>
			<key>action</key>
			<string>website</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>icons/globe.png</string>
			<key>cellClass</key>
			<string>LifeguardColorButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email Support</string>
			<key>action</key>
			<string>email</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>icons/mail.png</string>
			<key>cellClass</key>
			<string>LifeguardColorButtonCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2018 Kurrt (@KurrtDev)</string>
		</dict>
	</array>
	<key>title</key>
	<string>Lifeguard</string>
</dict>
</plist>
